{% load static %}
<!-- Footer Mulai -->
<footer class="w-100 text-white mt-5 py-5" style="background: linear-gradient(to right, #8ACCD5, #9EBC8A);">
    <div class="container d-flex flex-column flex-md-row justify-content-between gap-3 px-3">
      <div class="d-flex flex-column gap-2">
        <img src="{% static 'images/logo.png' %}" alt="logo" style="max-width: 150px;">
        <p class="text-white " style="max-width: 250px;">
          Air Quality Index Surabaya merupakan portal informasi terkini mengenai kualitas udara di Kota Surabaya.
        </p>
      </div>
  
      <div class="d-flex flex-column gap-2">
        <h5 class="fw-semibold text-white">Informasi</h5>
        <a href="{% url 'article_list'%}" class="text-white small text-decoration-none">Article</a>
        <a href="{% url 'about' %}" class="text-white small text-decoration-none">About me</a>
  
        <h5 class="fw-semibold text-white mt-3">Follow me</h5>
        <div class="d-flex gap-3">
          <a href="#" class="text-white" aria-label="twitter">
            <i class="bi bi-github fs-5 text-white"></i>
          </a>
          <a href="#" class="text-white" aria-label="instagram">
            <i class="bi bi-instagram fs-5 text-white"></i>
          </a>
        </div>
      </div>
    </div>
  
    {% comment %} <div class="border-top border-light text-center pt-3 mt-4 text-white-50 small" >
      © 2025 AQIS. All rights reserved.
    </div> {% endcomment %}
    <div style="position: relative; padding-top: 1rem; margin-top: 1rem;">
      <div style="
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background: linear-gradient(to right, #ffffff, #83bd5b, #ffffff);
      "></div>
    
      <div class="text-center text-white-50 small">
        <!-- isi konten -->
        © 2025 AQIS. All rights reserved.
      </div>
    </div>
    
  </footer>
  