{% include "layouts/master.html" %}
{% include "layouts/header.html" %}
{% load static %}

{% block content %}

<div class="container my-5 my-sm-5 my-md-5">
    <div class="text-center mb-4">
        <h1 class="h4 h-sm-3 h-md-1 fw-bold fs-1">
            Explore Our <br/>
            News
        </h1>
    </div>
</div>



<div class="container my-5">
    <div class="row g-4">
        {% for news in article_list %}
        <div class="col-12 col-sm-6 col-lg-4">
            <a href="{% url 'article-detail' news.slug %}" class="text-decoration-none text-dark">
                <div class="card border-1 h-100 shadow-sm hover-shadow rounded-4">
                    <div class="position-relative rounded-top overflow-hidden" style="height: 200px;">
                        <div class="position-absolute top-0 start-0 m-2 px-3 py-1 bg-warning text-white text-uppercase rounded-pill small">
                            HOT
                        </div>
                        <img src="{{ news.thumbnail.url }}" class="w-100 h-100" style="object-fit: cover;" alt="thumbnail">
                    </div>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title fw-bold">
                            {{ news.name|truncatechars:70 }}
                        </h5>
                        <p class="card-text text-muted small mb-0">
                            {{ news.timestamp|date:"d M, Y" }}
                        </p>
                    </div>
                </div>
            </a>
        </div>
        {% empty %}
        <div class="col-12 text-center">
            <p class="text-muted">No recent data yet</p>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock content %}
{% include "layouts/footer.html" %}